/* this is a CSS comment */
/*

	comments are multilined
	as well

	lol

*/

/*

	search-query {
		rule: Value;
	}	

*/

P{
	color: red;
	font-style: italic;
}

a{
	color: black;
	font-weight: 900;
}	

.red-link {
		color: red;
}

.green-link {
		color: green;
}